#lightbox {
  background-color: #eee;
  padding: 10px;
  border-bottom: 2px solid #666;
  border-right: 2px solid #666;
  min-width: 240px;
}
#lightboxDetails {
  font-size: 1.2em;
  padding-top: 0.6em;
  min-width: 240px;
}
#lightboxCaption {
  float: left;
}
#keyboardMsg {
  float: right;
}
#closeButton {
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 200;
  background: url(../images/close_lite.gif) no-repeat;
}
#loadingImage {
  position: absolute;
  top: 30%;
  left: 45%;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
  background: url(../images/loading_lite.gif) no-repeat;
  width: 126px;
  height: 22px;
  z-index: 150;
}
#lightbox img {
  border: none;
  clear: both;
}
#overlay img {
  border: none;
}
#overlay {
  background-image: url(../images/overlay.png);
}
* html #overlay {
  background-color: #333;
  back\ground-color: transparent;
  background-image: url(../images/blank.gif);
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/overlay.png", sizingMethod="scale");
}
